/* Resetting default margin and padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
img { 
    max-width: 20%;
    height: auto;
}


/* Header styles */
header {
    background-color: #004080;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Navigation styles */
nav {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Main content styles */
main {
    background-color: #f2f2f2;
    padding: 20px 0;
}

/* Section styles */
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

section h2 {
    color: #004080;
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    line-height: 1.6;
}


/* Styles for social media icons */
.social img {
  width: 40px; /* Adjust the size of the icons */
  height: auto; /* Maintain aspect ratio */
  margin: 0 5px; /* Adjust spacing between icons */
}
.container {
    display: grid;
    grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col3-end];
    grid-template-rows: auto;
    gap: 20px;
  }
  
  .header {
    grid-column: col1-start / col3-end;
  }
  
  .main-content {
    grid-column: col1-start / col3-end;
  }
  
  .sidebar {
    grid-column: col3-start / col3-end;
  }
  
  .footer {
    grid-column: col1-start / col3-end;
  }
  
  /* Navigation */
  .navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust as needed */
    gap: 10px; /* Adjust gap between navigation items */
  }
  
  /* Fonts and Colors */
  body {
    font-family: "Arial", sans-serif; /* Use appropriate font family */
    color: #333; /* Adjust text color */
  }
  
  h1, h2, h3 {
    font-family: "Helvetica", sans-serif; /* Use appropriate heading font */
    color: #555; /* Adjust heading text color */
  }
  
  /* Spacing and Alignment */
  .container {
    padding: 20px; /* Add padding to container */
  }
  
  .header, .footer {
    text-align: center; /* Align text in header and footer */
  }
  
  .main-content {
    margin-bottom: 20px; /* Add margin to bottom of main content */
  }
  
  .navigation {
    justify-content: center; /* Center navigation items */
  }
  body {margin:0;}

  .icon-bar {
    width: 100%;
    background-color: #004080; /* Adjusted background color */
    overflow: auto;
  }
  
  .icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: black; /* Change the color to black */
    font-size: 36px;
  }
  
  .icon-bar a:hover {
    background-color: #0F2E67; /* Adjusted hover background color */
  }
  
  .active {
    background-color: #A42212; /* Adjusted active background color */
  }